.CardContainer {
  width: 20rem;
  height: auto;
  color: var(--accent-7);
  background-color: var(--accent-0);
  display: flex;
  align-items: end;
  justify-content: center;
  flex-flow: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  flex-grow: 0.9;
}